services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: stan_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: stan_nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: stan_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: stan
      MYSQL_USER: stan
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: stan_phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: stan
      PMA_PASSWORD: secret
    depends_on:
      - db

volumes:
  dbdata:
